
  <!-- Content Header (Page header) -->

  <!-- Main content -->


    <div >
      <div class="box-header" align="center">
        <label><span style="color:#d23340;"></span>Select Form: </label>
        <select ng-model="item" ng-options="f.name for f in templateTypes | orderBy:'code'" ng-change="update()">
          <option value="">Select Option</option>
        </select>
        <!--<select ng-options="template as size.name for size in templateTypes | orderBy:'code' " ng-model="item" ng-change="update()"></select> -->
      </div>
      <div class="box">

        <div class="box-body extra-padding-top">

          <div ng-controller='MainCtrl'>
            <div ng-switch on="codeValue">
              <div ng-switch-when=BAR>
              <nvd3 options='barOptions' data='pieData'></nvd3>
            </div>
           <div ng-switch-when='PIE'>

              <nvd3 options='pieOptions' data='pieData'></nvd3>
           </div>
              <div ng-switch-default>

                <nvd3 options='barOptions' data='data'></nvd3>
           </div>
         </div>
     </div>

        </div>
      </div>
      <!-- /.box -->
      <!-- /.col -->
    </div>

    <!-- /.row -->


  <!-- /.content -->
